<h1 mat-dialog-title>Eliminar</h1>

<div mat-dialog-content>
    <h3>¿Estas seguro de eliminar?</h3>
</div>

<div mat-dialog-actions>
    <!--Al presionar un boton, con el mat-dialog-close se manda un true o false segun lo que presione-->
    <button mat-raised-button [mat-dialog-close]="true" color="warn">Eliminar</button> 
    <button mat-raised-button cdkFocusInitial [mat-dialog-close]="false">Cancelar</button> <!--el cdkFocusInitial es para que al prinicipo el focus este en ese botón-->
</div>