<h1 mat-dialog-title>Nueva venta</h1>

<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Cliente</mat-label>
        <input matInput [(ngModel)]="venta.idCliente">
    </mat-form-field>

    <!--formulario-->
    <form [formGroup]="conceptoForm" (ngSubmit)="addConcepto()">
        <mat-form-field>
            <mat-label>Producto</mat-label>
            <input type="text" formControlName="idProducto" matInput>
        </mat-form-field>    
    
        <mat-form-field>
            <mat-label>Cantidad</mat-label>
            <input type="text" formControlName="cantidad" matInput>
        </mat-form-field>    
    
        <mat-form-field>
            <mat-label>Importe</mat-label>
            <input type="text" formControlName="importe" matInput>
        </mat-form-field>

        <button type="submit" [disabled]="!conceptoForm.valid" mat-raised-button> + </button>
    </form>

    <!--representación de lo que se escribe-->
    <div>
        <h5>Conceptos</h5>
        <table style="width: 100%;">
            <tr>
                <th>Cantidad</th>
                <th>Importe</th>
            </tr>
            <tr *ngFor="let items of conceptos"> <!--iteración por cada elemento de la lista de conceptos-->
                <td>{{items.cantidad}}</td>
                <td>{{items.importe}}</td>
            </tr>
        </table>
    </div>
</div>
<!--acciones del botón-->
<div mat-dialog-actions>
    <button (click)="close()" mat-raised-button>Cancelar</button>
    <button (click)="addVenta()" mat-raised-button color="primary">Guardar</button>
</div>